<!-- start custom head snippets -->
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&subset=japanese" rel="stylesheet">
<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>

<!-- alternate links -->
{% if page.ref %}
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% for post in posts %}
  <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />
{% endfor %}
{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for page in pages %}
  <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
{% endfor %}
{% endif %}

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
