{% for post in site.posts %}
  {% if post.lang == page.lang %}
    {% if prev %}
      {% assign prevpage = post %}
      {% break %}
    {% endif %}
    {% assign prev = false %}
    {% if post.id == page.id %}
      {% assign prev = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% for post in site.posts reversed %}
  {% if post.lang == page.lang %}
    {% if next %}
      {% assign nextpage = post %}
      {% break %}
    {% endif %}
    {% assign next = false %}
    {% if post.id == page.id %}
      {% assign next = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if prevpage or nextpage %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ prevpage.url | relative_url }}" class="pagination--pager" title="{{ prevpage.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    {% if page.next %}
      <a href="{{ nextpage.url | relative_url }}" class="pagination--pager" title="{{ nextpage.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}
