---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

pre.highlight {
  position: relative;
  margin-bottom: 1em;
  background: $base00;
  color: $base05;
  font-family: $monospace;
  font-size: $type-size-6;
  line-height: 1.8;
  border-radius: $border-radius;
  margin: 0;
  padding: 1em;
}

.page__taxonomy-item{
  padding: 0px 10px;
  margin-bottom: 5px;
}

p.page__date{
  margin-bottom: 5px;
}

header div.page__meta{
  margin-top: 10px;
  padding-left: 20px;
}